<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Book Record</title>
    <link rel="stylesheet" href="{% static 'CSS/BRMstyle.css' %}">
  </head>
  <body>
    <div id="header">
      <h1>Book Record Management System</h1>
      <div id="nav">
        <a href="/BRMApp/view-books">View All</a>
        <a href="/BRMApp/new-books">Add New</a>
        <a href="/BRMApp/search-books">Search</a>
        <a href="/BRMApp/logout">Logout</a>
      </div>
    </div>
    <div id="Hello">
      <h2>Hello,{{request.session.username}}</h2>
    </div>
    <div id="main">
      <h2>Add New Book Record</h2>
      <table>
        <thead>
          <th>Book Title</th>
          <th>Book Price</th>
          <th>Book Author</th>
          <th>Book Publisher</th>
          <th>Edit Book</th>
          <th>Delete Book</th>
        </thead>
        {% for book in books %}
        <tr>
          <td>{{book.title}}</td>
          <td>{{book.price}}</td>
          <td>{{book.author}}</td>
          <td>{{book.publisher}}</td>
          <td><a class="btn" href="/BRMApp/edit-books?bookid={{book.id}}">Edit</a></td>
          <td><a class="btn" href="/BRMApp/delete-books?bookid={{book.id}}">Delete</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
